/* .center{
    
} */
.input {
  width: 30%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
/* 
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;

  background-color: #84121c;
}

.header-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

.table {
  margin-bottom: 30px;
}

.main-container {
  margin: auto;
  height: 809px;
  width: 1080px;
}
.container {
  display: inline;
}

.login-logo {
  margin-top: 50px;
}

.login-button {
  background-color: #7b241c !important;
}

.loginBox {
  background-color: #ffffff;
  border-radius: 8px;
  margin: auto;
  height: 650px;
  width: 390px;
  /* 
  -webkit-box-shadow: 0px 0px 62px 1px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 62px 1px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 62px 1px rgba(148, 148, 148, 1); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  border: 0px solid #000000;
}

.sub-loginBox {
  margin: auto;
  padding-top: 30px;
}
